/* Header Navigation Bar Styling */
header {
    background-color: #F9F8F5;
    z-index: 1000; /* Ensure header is above other elements */
    font-family: 'Italiana', serif;
}
header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
header .navbar-toggler {
    margin-right: 20px;
}
header .navbar-brand img {
    max-height: 80px;
    width: auto;
    margin-left: 20px;
}
header .navbar-nav {
    align-items: center;
    text-align: center;
    font-family: 'Italiana', serif; /* Apply Italiana font to navigation links */
}
header .navbar-nav li {
    margin: 0 15px;
}
header .navbar-nav li a {
    color: #083343;
    text-decoration: none;
    font-size: 1.3em;
    transition: color 0.3s ease;
}
header .navbar-nav li a:hover {
    color: #2B7A78;
}

/* Carousel Styling */
.carousel-item img {
    width: 100%;
    height: auto;
}

/* Additional CSS */
.card-title {
    font-family: 'Italiana', serif;
}

/* Footer Styling */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px 0;
}
footer .nav-link {
    color: #fff;
    transition: color 0.3s ease;
}
footer .nav-link:hover {
    color: #2B7A78;
}

/* Global Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
}

/* Hero Section */
#hero {
    background: url('your-hero-image.jpg') no-repeat center center;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

/* View All Products Section */
#view-all-products .card {
    margin-bottom: 30px;
}

#view-all-products .btn-primary a {
    color: white;
    text-decoration: none;
}

/* FAQs Section */
#faq h2 {
    margin-bottom: 30px;
}

#faq .accordion-button {
    font-family: 'Poppins', sans-serif;
}

#faq .accordion-body {
    font-family: 'Poppins', sans-serif;
}
